/**
 * ::JEDI:: Web Site
 * @file CSS 2 stylesheet (layout)
 * @author Fabien Crespel (code)
 * @author Jesse Smith (design)
 */


/* Reinitialize everything */
* {
	border: 0;
	margin: 0;
	padding: 0;
}


/**********/
/* Header */
/**********/

.headerContainer {
	background-image: url("../img/header_default.png");
	background-position: bottom center;
	background-repeat: no-repeat;
	text-align: center;
	height: 270px;
}

.headerContainer #logo {
	margin-top: 20px;
}

#header-temple {
	background-image: url("../img/header_temple.png");
}
#header-archives {
	background-image: url("../img/header_archives.png");
}
#header-residents {
	background-image: url("../img/header_residents.png");
}
#header-data {
	background-image: url("../img/header_data.png");
}
#header-comport {
	background-image: url("../img/header_comport.png");
}
#header-rpmod {
	background-image: url("../img/header_rpmod.png");
}
#header-id {
	background-image: url("../img/header_id.png");
}


/****************************************/
/* Contextual navigation (current site) */
/****************************************/

#navContainer {
	position: relative;
	height: 67px;
}

#navContainer h2 {
	display: none;
}

/* Navigation <ul> */
#navContainer #navList,
#navContainer .navList {
	list-style-type: none;
	margin: 0 auto;
	padding: 0 0 0 17px;
	width: 330px;
	height: 35px;
	position: relative;
}

/* Navigation <li> item */
#navContainer .navList .navItem,
#navContainer .navList > li {
	float: left;
	margin: 0 -8px 2px 0;
	padding: 0;
	width: 115px;
	height: 16px;
}
#navContainer .navList .navItem:first-child,
#navContainer .navList .navItem.first-child,
#navContainer .navList > li:first-child,
#navContainer .navList > li.first-child {
	margin-left: -17px;
}

#navContainer .navList .navItem a,
#navContainer .navList > li a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-indent: -999px;
	background-repeat: no-repeat;
}

/* Contextual help */ 
#navContainer .navList .navItem ul,
#navContainer .navList > li ul {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 41px;
	left: 0;
	width: 100%;
	height: 25px;
}

#navContainer .navList .navItem ul li,
#navContainer .navList > li ul li {
	background-position: top center;
	height: 100%;
	color: black;
	font-size: 11px;
	font-variant: small-caps;
	text-align: center;
	line-height: 28px;
	overflow: hidden;
}

/* Show help when an item is active */
#navContainer .navList .navItem.active ul {
	display: block;
}

#navContainer #clock {
	display: none;
}


/***********/
/* Content */
/***********/

.global-announcement {
	margin: 0 auto 20px auto;
	padding: 3px 10px;
	color: white;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid #cccccc;
	border-radius: 5px;
	font-size: 10px;
	text-align: center;
}
.global-announcement-success {
	border-color: #33bb33;
}
.global-announcement-info {
	border-color: #0099ff;
}
.global-announcement-warning {
	border-color: #eebb00;
}
.global-announcement-error {
	border-color: #ff6633;
}


/*--------*/
/* Footer */
/*--------*/

#contentContainer #content #contentFooter {
	clear: both;
	border-top: 1px solid #888888;
	margin: 0;
	padding: 5px;
}

#contentContainer #content #contentFooter p {
	margin: 0;
	text-align: center;
	font-size: 10px;
}



/******************************************************************************/


@media screen {

body {
	background-color: #0e110d;
	background-image: url("../img/background_day.jpg");
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center; /* Non-standard centering method (for IE in quirk mode) */
}

body.night {
	background-color: #020305;
	background-image: url("../img/background_night.jpg");
}

body.sunrise {
	background-color: #a34a0f;
	background-image: url("../img/background_sunrise.jpg");
}

body.twilight {
	background-color: #42295c;
	background-image: url("../img/background_twilight.jpg");
}


/******************/
/* Main container */
/******************/

#mainContainer {
	margin: 0 auto;   /* Standard centering */
	text-align: left; /* Restore default alignment after changing it for IE in Body... */
	width: 830px;
}


/**********/
/* Header */
/**********/

.headerContainer {
	width: 706px;
	height: 239px;
	margin: 30px auto 0 auto;
	position: relative;
}
	
.headerContainer h1 {
	display: none;
}

.headerContainer #headerFrame {
	background-image: url("../img/header_frame.png");
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 706px;
	height: 239px;
}


/********************************/
/* Main navigation (cross-site) */
/********************************/

#mainNav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
	width: 130px;
	top: 40px; /* 36px if login/logout is displayed */
	left: -127px;
	overflow: hidden;
}

#mainNav li {
	height: 56px;
	float: right;
	clear: both;
	margin-right: -83px;
}

#mainNav li a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-indent: -999px;
}

#mainNav #mainNav-login {
	background-image: url("../img/navmain_login.png");
	width: 101px;
	margin-right: -60px;
}
#mainNav #mainNav-logout {
	background-image: url("../img/navmain_logout.png");
	width: 101px;
	margin-right: -60px;
}
#mainNav #mainNav-holonet {
	background-image: url("../img/navmain_holonet.png");
	width: 127px;
}
#mainNav #mainNav-holonet.active {
	background-image: url("../img/navmain_holonet_r.png");
}
#mainNav #mainNav-comport {
	background-image: url("../img/navmain_comport.png");
	width: 127px;
}
#mainNav #mainNav-comport.active {
	background-image: url("../img/navmain_comport_r.png");
}
#mainNav #mainNav-rpmod {
	background-image: url("../img/navmain_rpmod.png");
	width: 112px;
	margin-right: -68px;
}
#mainNav #mainNav-rpmod.active {
	background-image: url("../img/navmain_rpmod_r.png");
}


/****************************************/
/* Contextual navigation (current site) */
/****************************************/

#navContainer {
	margin: 0 auto;
	width: 706px;
}

#navContainer #headerJoinLeft {
	background-image: url("../img/header_join_left.png");
	position: absolute;
	top: 17px;
	left: 23px;
	width: 32px;
	height: 82px;
}
#navContainer #headerJoinRight {
	background-image: url("../img/header_join_right.png");
	position: absolute;
	top: 17px;
	right: 25px;
	width: 28px;
	height: 82px;
}

#navContainer #navFrame {
	background-image: url("../img/nav_bg.png");
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 706px;
	height: 67px;
}

/* Contextual help (realignment) */ 
#navContainer #navList .navItem ul {
	margin-left: -3px;
}

/* Show help when an item is hovered, not when active */
#navContainer #navList .navItem.active ul {
	display: none;
}
#navContainer #navList .navItem:hover ul {
	display: block;
}

#navContainer #clock {
	display: block;
	margin: 0 0 0 -167px;
	padding: 7px 0 0 0;
	position: absolute;
	top: 41px;
	left: 50%;
	width: 330px;
	height: 25px;
	color: #555555;
	text-align: center;
	font-size: 11px;
}


/***********/
/* Content */
/***********/

#contentContainer {
	position: relative;
	padding: 25px 20px 35px 20px;
}

/*---------------*/
/* Content frame */
/*---------------*/

/* Top frame */
#contentContainer #contentFrameTop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 32px;
	z-index: 44;
}
#contentContainer #contentFrameTopLeft {
	background-image: url("../img/content_frame_tb.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	position: absolute;
	top: 0;
	left: 0;
	width: 379px;
	height: 32px;
}
#contentContainer #contentFrameTopSpacer {
	background-image: url("../img/content_frame_tb_spacer.png");
	background-repeat: repeat-x;
	background-position: 0px 0px;
	position: absolute;
	top: 0;
	left: 379px;
	right: 368px;
	height: 32px;
}
#contentContainer #contentFrameTopRight {
	background-image: url("../img/content_frame_tb.png");
	background-repeat: no-repeat;
	background-position: -380px 0px;
	position: absolute;
	top: 0;
	right: 0;
	width: 368px;
	height: 32px;
}

/* Left frame */
#contentContainer #contentFrameLeft {
	position: absolute;
	top: 32px;
	left: 0;
	bottom: 42px;
	width: 25px;
	z-index: 44;
}
#contentContainer #contentFrameLeftTop {
	background-image: url("../img/content_frame_lr.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 168px;
}
#contentContainer #contentFrameLeftSpacer {
	background-image: url("../img/content_frame_lr_spacer.png");
	background-repeat: repeat-y;
	background-position: 0px 0px;
	position: absolute;
	top: 168px;
	left: 0;
	bottom: 290px;
	width: 25px;
}
#contentContainer #contentFrameLeftBottom {
	background-image: url("../img/content_frame_lr.png");
	background-repeat: no-repeat;
	background-position: 0px -169px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 25px;
	height: 290px;
}

/* Right frame */
#contentContainer #contentFrameRight {
	position: absolute;
	top: 32px;
	right: 0;
	bottom: 42px;
	width: 27px;
	z-index: 44;
}
#contentContainer #contentFrameRightTop {
	background-image: url("../img/content_frame_lr.png");
	background-repeat: no-repeat;
	background-position: -25px 0px;
	position: absolute;
	top: 0;
	left: 0;
	width: 27px;
	height: 168px;
}
#contentContainer #contentFrameRightSpacer {
	background-image: url("../img/content_frame_lr_spacer.png");
	background-repeat: repeat-y;
	background-position: -25px 0px;
	position: absolute;
	top: 168px;
	left: 0;
	bottom: 290px;
	width: 27px;
}
#contentContainer #contentFrameRightBottom {
	background-image: url("../img/content_frame_lr.png");
	background-repeat: no-repeat;
	background-position: -25px -169px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 27px;
	height: 290px;
}

/* Bottom frame */
#contentContainer #contentFrameBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 42px;
	z-index: 44;
}
#contentContainer #contentFrameBottomLeft {
	background-image: url("../img/content_frame_tb.png");
	background-repeat: no-repeat;
	background-position: 0px -32px;
	position: absolute;
	left: 0;
	width: 379px;
	height: 42px;
}
#contentContainer #contentFrameBottomSpacer {
	background-image: url("../img/content_frame_tb_spacer.png");
	background-repeat: repeat-x;
	background-position: 0px -32px;
	position: absolute;
	left: 379px;
	right: 368px;
	height: 42px;
}
#contentContainer #contentFrameBottomRight {
	background-image: url("../img/content_frame_tb.png");
	background-repeat: no-repeat;
	background-position: -380px -32px;
	position: absolute;
	right: 0;
	width: 368px;
	height: 42px;
}

/* Corners */
#contentContainer #contentFrameCornerTopLeft {
	background-image: url("../img/content_frame_corners.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	position: absolute;
	top: 32px;
	left: 25px;
	width: 38px;
	height: 38px;
	z-index: 44;
}
#contentContainer #contentFrameCornerTopRight {
	background-image: url("../img/content_frame_corners.png");
	background-repeat: no-repeat;
	background-position: -19px -38px;
	position: absolute;
	top: 32px;
	right: 27px;
	width: 19px;
	height: 19px;
	z-index: 44;
}
#contentContainer #contentFrameCornerBottomLeft {
	background-image: url("../img/content_frame_corners.png");
	background-repeat: no-repeat;
	background-position: 0px -38px;
	position: absolute;
	bottom: 42px;
	left: 25px;
	width: 19px;
	height: 19px;
	z-index: 44;
}
#contentContainer #contentFrameCornerBottomRight {
	background-image: url("../img/content_frame_corners.png");
	background-repeat: no-repeat;
	background-position: -38px 0px;
	position: absolute;
	bottom: 42px;
	right: 27px;
	width: 53px;
	height: 53px;
	z-index: 44;
}

/*----------------*/
/* Actual content */
/*----------------*/

#contentContainer #content,
#cboxLoadedContent .content {
	background-color: #444444;
	background-image: url("../img/content_bg.gif");
	background-repeat: repeat;
	color: white;
}

#contentContainer #content {
	padding: 50px 40px;
	min-height: 450px;
	overflow: hidden;
}

#cboxLoadedContent .content {
	padding: 10px 20px;
	min-height: 530px;
	text-align: left; /* Restore default alignment after changing it for IE in Body... */
}

/*--------*/
/* Header */
/*--------*/

#contentContainer #content #contentHeader {
	background-image: url("../img/box_bg.png");
	border-bottom: 1px solid #888888;
	margin: -44px -40px 25px -40px;
	padding: 5px 40px 5px 45px;
	font-size: 10px;
	font-weight: bold;
	min-height: 14px;
}

#contentContainer #content #contentHeader > * {
	font-size: 10px;
}

#contentContainer #content #contentHeader h2 {
	float: left;
	font-size: 10px;
	font-weight: bold;
	margin: 0;
}

#contentContainer #content #contentHeader .navigation,
#contentContainer #content #contentHeader .contentNav {
	float: right;
}

#contentContainer #content #contentHeader .navigation > ul,
#contentContainer #content #contentHeader .contentNav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#contentContainer #content #contentHeader .navigation > ul > li,
#contentContainer #content #contentHeader .contentNav > ul > li {
	float: left;
	border-left: 1px solid white;
	margin-left: 5px;
	padding-left: 5px;
}

#contentContainer #content #contentHeader .navigation > ul > li:first-child,
#contentContainer #content #contentHeader .contentNav > ul > li:first-child {
	border-left: none;
}

#contentContainer #content #contentHeader .navigation > ul > li.active > a,
#contentContainer #content #contentHeader .navigation > ul > li > a.ui-btn-active,
#contentContainer #content #contentHeader .contentNav > ul > li.active > a,
#contentContainer #content #contentHeader .contentNav > ul > li > a.ui-btn-active {
	color: white;
	border-bottom: none;
}

#contentContainer #content #contentHeader h2 > a,
#contentContainer #content #contentHeader .navigation > ul > li > a,
#contentContainer #content #contentHeader .contentNav > ul > li > a  {
	color: #cccccc;
	border-bottom: 1px dotted #cccccc;
	text-decoration: none;
}
	
#contentContainer #content #contentHeader h2 > a:hover,
#contentContainer #content #contentHeader .navigation > ul > li > a:hover,
#contentContainer #content #contentHeader .contentNav > ul > li > a:hover {
	color: #cccccc;
	border-bottom: 1px solid #cccccc;
	text-decoration: none;
}

#contentContainer #content #contentHeader h2 > a.highlighted,
#contentContainer #content #contentHeader .navigation > ul > li > a.highlighted,
#contentContainer #content #contentHeader .contentNav > ul > li > a.highlighted {
	color: #08ade3;
	border-color: #08ade3;
}

#contentContainer #content #contentHeader + * {
	clear: both;
}

/*--------*/
/* Footer */
/*--------*/

#contentContainer #content #contentFooter {
	background-image: url("../img/box_bg.png");
	padding: 5px 60px 5px 20px;
	position: absolute;
	min-height: 14px;
	bottom: 42px;
	left: 20px;
	right: 20px;
	z-index: 0;
}

#contentContainer #content #contentFooter a {
	color: #cccccc;
	border-bottom: 1px dotted #cccccc;
	text-decoration: none;
}
	
#contentContainer #content #contentFooter a:hover {
	color: #cccccc;
	border-bottom: 1px solid #cccccc;
	text-decoration: none;
}


/*******************/
/* Embedded layout */
/*******************/

body.layout-embedded {
	background: none;
}

body.layout-embedded #mainContainer {
	margin: 0;
	width: auto;
}

body.layout-embedded #contentContainer {
	padding: 0;
}

body.layout-embedded #contentContainer #content {
	padding: 0;
	background: none;
}



} /* End of @media screen */



/******************************************************************************/


@media print {

#mainNav {
	display: none;
}

#contentContainer #content #contentHeader .navigation,
#contentContainer #content #contentHeader .contentNav {
	display: none;
}

} /* End of @media print */
